<!-- Main Content -->
<div class="content">
  <section class="form-container">
    <h2>Form Quick Credit Analytic</h2>

    <!-- Wrapper untuk meter dan deskripsi -->
    <div class="d-flex justify-content-center align-items-center mt-5 ">
      <div class="flex items-center gap-4">
        <!-- Score Description -->
        <div class="row align-items-center">
          <!-- Kolom Total Score -->
          <div
            class="col-auto d-flex flex-column justify-content-center align-items-center text-center"
          >
            <div
              class="d-flex align-items-center justify-content-center rounded-circle bg-light fw-bold"
              [ngClass]="{
                'score-not-recommended': totalScore < 2,
                'score-rwc': totalScore >= 2 && totalScore < 3,
                'score-approved': totalScore >= 3
              }"
            >
              {{ totalScore }}
            </div>
          </div>

          <!-- Kolom Deskripsi -->
          <div class="col">
            <div class="d-flex align-items-center gap-2">
              <div
                class="rounded-circle bg-success"
                style="width: 12px; height: 12px"
              ></div>
              <p class="mb-1">
                <span class="fw-bold">3.0 - 4.0:</span>
                <span class="text-success"> RECOMMENDED</span>
              </p>
            </div>
            <div class="d-flex align-items-center gap-2">
              <div
                class="rounded-circle bg-warning"
                style="width: 12px; height: 12px"
              ></div>
              <p class="mb-1">
                <span class="fw-bold">2.0 - 3.0:</span>
                <span class="text-warning"> NO DP PAKET</span>
              </p>
            </div>
            <div class="d-flex align-items-center gap-2">
              <div
                class="rounded-circle bg-danger"
                style="width: 12px; height: 12px"
              ></div>
              <p class="mb-0">
                <span class="fw-bold">1.0 - 2.0:</span>
                <span class="text-danger"> NOT RECOMMENDED</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MID Search -->
    <div class="search-bar mt-5">
      <input
        type="text"
        [(ngModel)]="mid"
        class="mid-input"
        [placeholder]="mid === undefined ? 'Masukkan MID' : mid"
        [disabled]="isMidFromUrl"
      />
      <button
        [ngClass]="{
          'search-button': !isMidFromUrl,
          'disabled-search-button disabled': isMidFromUrl
        }"
        (click)="getDataMID()"
        [disabled]="isMidFromUrl"
      >
        Cari MID 🔍
      </button>
    </div>

    <!-- Informasi MID -->
    <h3>Informasi MID</h3>
    <div class="info-section">
      <div class="info-row">
        <div class="info-box">
          <label>Cabang</label>
          <input
            type="text"
            placeholder="-"
            [(ngModel)]="namaCabang"
            class="text-input"
            disabled
          />
        </div>
        <div class="info-box">
          <label>Domisili Konsumen</label>
          <input
            type="text"
            [(ngModel)]="fullAddress"
            class="text-input"
            placeholder="-"
            disabled
          />
        </div>
      </div>
      <div class="info-row">
        <div class="info-box">
          <label>Showroom</label>
          <input
            type="text"
            [(ngModel)]="namaShowroom"
            class="text-input"
            placeholder="-"
            disabled
          />
        </div>
        <div class="info-box">
          <label>Marketing Officer</label>
          <input
            type="text"
            [(ngModel)]="namaMarketingOfficer"
            class="text-input"
            placeholder="-"
            disabled
          />
        </div>
      </div>
    </div>

    <!-- Informasi Konsumen -->
    <h3>Informasi Konsumen</h3>
    <div class="info-section">
      <div class="info-box">
        <label>Nama Konsumen</label>
        <input
          type="text"
          [(ngModel)]="namaKonsumen"
          class="text-input"
          placeholder="-"
          disabled
        />
      </div>

      <!-- Mutasi Kredit, Jumlah Angsuran, Jumlah Pendapatan -->
      <div class="info-box">
        <div class="form-money-row">
          <div class="form-group">
            <label for="mutasiKredit">Mutasi Kredit</label>
            <input
              id="mutasiKredit"
              type="text"
              [(ngModel)]="tabungan"
              placeholder="-"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="jumlahAngsuran">Jumlah Angsuran</label>
            <input
              id="jumlahAngsuran"
              type="text"
              [(ngModel)]="angsuran"
              placeholder="-"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="jumlahPendapatan">Jumlah Pendapatan</label>
            <input
              id="jumlahPendapatan"
              type="text"
              [(ngModel)]="pendapatan"
              placeholder="-"
              disabled
            />
          </div>
        </div>
      </div>

      <!-- Kapasitas Section -->
      <div class="form-group info-box">
        <label for="tabunganTerhadapAngsuran">Tabungan terhadap Angsuran</label>
        <input
          id="tabunganTerhadapAngsuran"
          type="text"
          placeholder="-"
          [value]="tabThdAngsCategory"
          disabled
        />
      </div>
      <div class="form-group info-box">
        <label for="angsuranTerhadapPendapatan"
          >Angsuran terhadap Pendapatan</label
        >
        <input
          id="angsuranTerhadapPendapatan"
          type="text"
          placeholder="-"
          [value]="angsThdPdptCategory"
          disabled
        />
      </div>
      <div class="form-group info-box">
        <label for="statusPekerjaan">Status Pekerjaan</label>
        <select
          id="statusPekerjaan"
          [(ngModel)]="statusPekerjaan"
          [disabled]="levelAkses !== 'CMO'"
        >
          <option [value]="null">- Pilih Status Pekerjaan -</option>
          <option [value]="1">Pegawai kontrak</option>
          <option [value]="2">Freelance/ pengusaha UMKM</option>
          <option [value]="3">Tetap sebagai staff</option>
          <option [value]="4">Tetap sebagai atasan/ pengusaha besar</option>
        </select>
      </div>

      <!-- Kondisi Tempat Tinggal -->
      <div class="form-group info-box">
        <label for="statusTempatTinggal">Status Tempat Tinggal</label>
        <select
          id="statusTempatTinggal"
          [(ngModel)]="statusTempatTinggal"
          [disabled]="levelAkses !== 'CMO'"
        >
          <option value="null">- Pilih Status Tempat Tinggal -</option>
          <option value="1">Kontrak</option>
          <option value="2">Milik kerabat bukan keluarga inti</option>
          <option value="3">Milik keluarga inti</option>
          <option value="4">Milik sendiri</option>
        </select>
      </div>
      <div class="form-group info-box">
        <label for="kondisiTempatTinggal">Kondisi Tempat Tinggal</label>
        <select
          id="kondisiTempatTinggal"
          [(ngModel)]="kondisiTempatTinggal"
          [disabled]="levelAkses !== 'CMO'"
        >
          <option value="null">- Pilih Kondisi Tempat Tinggal -</option>
          <option value="1">Kumuh</option>
          <option value="2">Rumah sederhana semi permanen</option>
          <option value="3">Rumah sederhana permanen</option>
          <option value="4">Mewah</option>
        </select>
      </div>

      <!-- Karakter di Lingkungan & Hasil SLIK -->
      <div class="form-group info-box">
        <label for="karakterLingkungan">Karakter di Lingkungan</label>
        <select
          id="karakterLingkungan"
          [(ngModel)]="karakterDiLingkungan"
          [disabled]="levelAkses !== 'CMO'"
        >
          <option value="null">- Pilih Karakter di Lingkungan -</option>
          <option value="1">Dikenal buruk</option>
          <option value="2">Dikenal namun tertutup</option>
          <option value="3">Dikenal biasa saja</option>
          <option value="4">Dikenal baik</option>
        </select>
      </div>
      <div class="form-group info-box">
        <label for="getContact">Get Contact</label>
        <select
          id="getContact"
          [(ngModel)]="hasilGetContact"
          [disabled]="levelAkses !== 'CMO'"
        >
          <option value="null">- Pilih Jumlah Tagar Get Contact -</option>
          <option value="1">Nihil/ dikunci/ kurang dari 5</option>
          <option value="2">5 - 50 tagar</option>
          <option value="3">50 tagar keatas</option>
          <option value="4">50 tagar keatas dan positif</option>
        </select>
      </div>
      <div class="form-group info-box">
        <label for="hasilSLIK">Hasil SLIK</label>
        <select
          id="hasilSLIK"
          [(ngModel)]="hasilSLIK"
          [disabled]="levelAkses !== 'CMO'"
        >
          <option value="null">- Pilih Hasil SLIK by RBS -</option>
          <option value="1">RBS Not OK karena coll2 keatas</option>
          <option value="2">Not OK/ nihil/ under 15 juta/ prematur</option>
          <option value="3">OK B20</option>
          <option value="4">OK C10 dan D0</option>
        </select>
      </div>
    </div>

    <!-- Buttons for user levels -->
    <div
      *ngIf="levelAkses !== 'CMO' && isMidFromUrl && statusQUCA === 'ON REVIEW'"
      class="action-buttons"
    >
      <button class="btn btn-danger action-button" (click)="openRejectModal()">
        Reject
      </button>
      <button class="btn btn-primary action-button" (click)="approveForm()">
        Approve
      </button>
    </div>

    <!-- Submit Button -->
    <div
      *ngIf="
        !isMidFromUrl ||
        (statusQUCA === 'NEED REVISION' && levelAkses === 'CMO')
      "
    >
      <button
        class="submit-button"
        (click)="isMidFromUrl ? updateForm() : submitForm()"
      >
        Simpan
      </button>
    </div>

    <!-- Reject Modal -->
    <div *ngIf="showRejectModal" class="modal">
      <div class="modal-content">
        <h2>Reject Form</h2>
        <label for="rejectNotes">Notes:</label>
        <textarea
          id="rejectNotes"
          [(ngModel)]="rejectNotes"
          placeholder="Enter rejection notes"
        ></textarea>
        <div class="modal-buttons">
          <button mat-raised-button color="warn" (click)="rejectForm()">
            Reject
          </button>
          <button mat-raised-button color="primary" (click)="approveForm()">
            Approve
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
